.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    background: #e6e6e6;
    color: #333;
    border: 1px solid #333;
    border-left: none;
    border-top: none;
    font-weight: lighter;
}

.operator {
    background: #aaa;
    font-weight: normal;
}