.wrapper {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 0px rgba(229,229,229,1);
    
    .row:first-of-type {
        border-top: 1px solid #333;
    }
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .button:first-of-type {
        border-left: 1px solid #333;
    }
}